ul {
    list-style-type: none;
    margin-bottom: 0;
}
body {
    font-family: 'Roboto';
}
.btn-primary {
    border-radius: 10px;
    background-color: #1a5eca;
    border-color: #1a5eca;
}
.btn-secondary {
    background-color: transparent;
    border-color: transparent;
    color: inherit;
}
/* sezione navbar */
    /* sezione superiore */
#header-top {
    display: flex;
    justify-content:space-between;
    align-items: center;

    height: 50px;
    border-bottom: 1px solid  #97a9ba;
}
#top-left {
    width: 30% ;
}
#top-right {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#top-right a {
    color: #97a9ba;
}
#site-sections {
    display: flex;
    justify-content: space-around;
}
#site-sections li {
    padding: 0 10px;
    font-size: 0.7em;
    color: #97a9ba;
}
#social-icons {
    display: flex;
    justify-content: space-around;
}
#social-icons li {
    padding: 0 10px;

}
    /* sezione inferiore */
#header-bottom {
    padding-top: 15px;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid  #97a9ba;
}
#header-bottom i {
    color: #97a9ba ;
}
#login {
    color: #9dbbe3;
}
/* jumbotron */
#jumbotron {
    padding: 20px;
}
#jumbo-title {
    align-self: center;
}
.jumbo-card {
    margin-top: 10px;
    padding: 10px;
    transition: 1s;
    background-color: #e4e8ed ;
}
.jumbo-card h3 {
    padding: 10px;

}
.jumbo-card:hover {
    transform: scale(1.1);
}
.jumbo-card i {
    color: #1a5eca ;
}
.col-md-8 img {
    width: 100%;
}
/* /Sezione jumbotron */

#read-more {
    position:relative;

    height: 600px;
    background-image: url("../img/Untitled-1-1-1-1-1.png");
    background-position: center;
}
#read-more-text {
    position: absolute;
    top: 100%;
}
/* Sezione griglia categorie */
#categories-grid {

}
#categories-grid img {
    padding: 10px;
    width: 100% ;
}
/*  Sezione recent courses */
#recent-courses {
    padding: 50px;
}
.card-footer {
    border: none;
    background: transparent;

}
.card hr {
    width: 80%;
    margin: 10px auto ;
}
/* /Sezione recent courses */
#we-proud {
    padding-top: 30px;
    height: 433px;
    background-color: #e4e8ed;
    background-image: url('../img/we_proud.png');
}
#newsletter {
    padding: 25px;
    /* height: 100px; */
    background: #4bd7a8;
}
#call-to-action {

}
#testimonial {
    height: 700px;
    background-image: url("../img/brooke-cagle-224821-unsplash-1-1920x700.jpg");
    background-position: right;
}
.box {
    width: 100%;
    height: 500px;
    background: #fff;
}
