ul {
    list-style-type: none;
    margin-bottom: 0;
}
body {
    font-family: 'Roboto';
}
.btn-primary {
    border-radius: 10px;
    background-color: #1a5eca;
    border-color: #1a5eca;
    transition: 1s
}
.btn-primary:hover {
    background-color: #fff;
    border-color: #fff;
    color: #1a5eca;

}
.btn-secondary {
    transition: 1s;
    background-color: transparent;
    border-color: transparent;
    color: inherit ;
}
.btn-secondary:hover {
    border-radius: 5px;
    border-color: #4bd7a8;
    background-color: #4bd7a8;
}
/* sezione navbar */
    /* sezione superiore */
#header-top {
    display: flex;
    justify-content:space-between;
    align-items: center;

    height: 50px;
    border-bottom: 1px solid  #97a9ba;
}
#top-left {
    width: 30% ;
}
#top-right {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#top-right a {
    color: #97a9ba;
}
#site-sections {
    display: flex;
    justify-content: space-around;
}
#site-sections li {
    padding: 0 10px;
    font-size: 0.7em;
    color: #97a9ba;
}
#social-icons {
    display: flex;
    justify-content: space-around;
}
#social-icons li {
    padding: 0 10px;

}
    /* sezione inferiore */
#header-bottom {
    padding-top: 15px;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid  #97a9ba;
}
#header-bottom i {
    color: #97a9ba ;
}
#login {
    color: #9dbbe3;
}
/* jumbotron */
#jumbotron {
    padding: 20px;
}
#jumbo-title {
    align-self: center;
}
.jumbo-card {
    margin-top: 10px;
    padding: 10px;
    transition: 0.7s;
    background-color: #e4e8ed ;
}
.jumbo-card h3 {
    padding: 10px;

}
.jumbo-card:hover {
    transform: scale(1.1);
}
.jumbo-card i {
    padding: 5px;
    color: #1a5eca ;
}
.col-md-8 img {
    width: 100%;
}
/* /Sezione "JUMBOTRON" */

/* Sezione "READ MORE" */

#read-more {
    position:relative;

    height: 600px;
    background-image: url("../img/Untitled-1-1-1-1-1.png");
    background-position: center;
}

#read-more .row , .container {
    height: 100%;
}
#read-more-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
/* /sezione  "READ MORE" */


/* Sezione griglia categorie */
#categories-grid {

}
#categories-grid img {
    width: 100% ;
    cursor: pointer;
}

/*  Sezione recent courses */
#recent-courses {
    padding: 50px;
}
#recent-courses ul {
    padding: 20px;
    color: #9dbbe3;
}
#recent-courses li {
    padding: 10px;
}
#recent-courses ul li:hover {
    border-radius: 10px;
    background-color: #e4e8ed;
}
.card {
    margin-top: 20px;
}
.card:hover {
    border-color: #fecc4f ;
}

.card-footer {
    border: none;
    background: transparent;

}
.card hr {
    width: 80%;
    margin: 10px auto ;
}
/* /Sezione recent courses */

/* Sezione "WE ARE PROUD" */
#we-proud {
    padding-top: 30px;
    height: 433px;
    background-color: #e4e8ed;
    background-image: url('../img/we_proud.png');
}
#we-proud .row {

}
#we-proud ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% ;
    height: 100%;
}
#we-proud li {
    font-size: 2em;
}
#newsletter {
    padding: 25px;
    /* height: 100px; */
    background: #4bd7a8;
}
#newsletter-button {
    background-color: #1a5eca;
    border-color: #1a5eca;
    color: #fff ;
}
/* popular courses */
#popular-courses {
    background-color: #e4e8ed;;
}
#popular-courses .col-md-12 .arrow-box {
    width: 30px;
    padding: 15px 25px;
}
.navigation-box {
    display: flex;
    justify-content: center;
}
.arrow-box {
    display: inline-block;
    padding: 10px;
    margin: 15px;
    transition: 1s;
    cursor: pointer;
    text-align: center;
    background: #fff ;
}
.arrow-box:hover {
    background-color: #3c6669;
    color: #fff ;
}
.row h2 {
    padding: 30px 0 ;
}
/*  Sezione "CALL-TO-ACTION" */

#call-to-action {
    padding: 20px;
}
#cta-istructor{

}
#call-to-action .col-md-4 {
    float:left;

}
#call-to-action .col-md-8 {
float: right;
padding-left: 100px;
}

#testimonial {
    height: 700px;
    background-image: url("../img/brooke-cagle-224821-unsplash-1-1920x700.jpg");
    background-position: right;
}
#testimonial .row {
    height: 100%
}
.box {
    width: 100%;
    top: 50%;
    height: 500px;
    padding: 40px;
    position: relative;
    transform: translateY(-50%);
    background: #fff;
}
footer {
    padding: 30px;
}
footer i,small {
    color: #97a9ba;
}
